.contenedor {
    width: 40px;
    width: 4em;
    height: 40px;
    height: 4em;
    max-width: 40px;
    max-width: 4em;
    max-height: 40px;
    max-height: 4em;
    padding: 5px;
    padding: 1em;
}

.circle { 
    border: 1.5px solid gray;
    border-radius: 50%;
    width: 30px;
    width: 2em;
    height: 30px;
    height: 2em;
    max-width: 30px;
    max-width: 2em;
    max-height: 30px;
    max-height: 2em;
    cursor: pointer;
}

.enabled {
    background-color: yellow;
}

.disabled {
    background-color: white;
}